/* Icons  */

.icons {
	font-size: 35px;
}

.icons li #discord:hover {
	color: #5865F2;
}

.image {
	transition: .3s ease-in-out;
}

.image:hover {
	opacity: .6;
}

/* Images */

a {
    transition: .3s ease-in-out;
}

a:hover {
    color: #ff3c00;
    font-weight: bold;
}